div{
    font-family: 'Arial';
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}
.triangulo_lateral{
    -webkit-transform: translateX(0);
}
.triangulo_lateral::before{
    content: '';
   border-style: solid; 
   border-width: 15px 15px 15px 0px;
   border-color: transparent #a8cf45 transparent transparent;

   
     
   position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -15px;
}

.triangulo_lateral:hover:before{
    left: -13px;
}



.triangulo_lateral2{
    -webkit-transform: translateX(0);
}
.triangulo_lateral2::before{
    content: '';
    -webkit-transition-duration: 0.3s;
   border-style: solid; 
   border-width: 0px 15px 15px 15px;
   border-color: transparent transparent #a8cf45  transparent;
     
   position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -15px;
}

.triangulo_lateral2:hover{
    -webkit-transform: translateY(15px);
    
}
.triangulo_lateral2:hover:before{
    top: -13px;
}


.esquina_pagina{
    -webkit-transform: translateX(15px);
}

.esquina_pagina:before{
    content: '';

    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 0px;
    height: 0px;
    background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%, #ccc 60%, white);
    -webkit-transition-duration: 0.3s;

}

.esquina_pagina:hover:before{
    width: 35px;
    height: 35px;
}


.sombra_fija{
    -webkit-transform: translateX(0);
}

.sombra_fija:before{
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    top:100%;
    height: 10px;

    background:-webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 80%);
    -webkit-transition-duration: 0.3s;
    opacity: 0;
}
.sombra_fija:hover{
    -webkit-transform:translateY(-5px) ;
}
.sombra_fija:hover:before{
    -webkit-transform: translateY(5px);
    opacity: 1;
}

.sombra_difuminada{
    -webkit-transition-duration: 0.3s;
    box-shadow: 0px 0px 1px rgba(0,0,0,1);
}

.sombra_difuminada:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
}


.sombra_radial{
    position: relative;
    box-shadow: 0px 0px 1px black;
}

.sombra_radial:before
.sombra_radial:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0%;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
       
}

.sombra_radial:before{
    bottom: 100%;
    background: radial-gradient(ellipse at 50% 150%, 
    rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
}
.sombra_radial:after{
    top: 100%;
    background: radial-gradient(ellipse at 50% -50%, 
    rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
}

.sombra_radial:hover:before, 
.sombra_radial:hover:after{
    opacity: 1;
}